@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900');
a:focus, input:focus, textarea:focus, button:focus {
	outline: 0 solid;
	outline-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:hover { text-decoration: none }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
body {
    font-family: 'Roboto', sans-serif;
}
.section-padding{
	padding: 50px 0 0 0;
}
.main-area {
	position: relative;
	z-index: 1;
	padding: 45px 0;
}
.main-area:after {
	position: absolute;
	content: "";
	top: 0;left: 0;bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgb(69,72,77);
	background: -webkit-linear-gradient(bottom left, rgba(69,72,77,1) 0%, rgba(168,81,255,1) 0%, rgba(83,27,252,1) 100%);
	background: -o-linear-gradient(bottom left, rgba(69,72,77,1) 0%, rgba(168,81,255,1) 0%, rgba(83,27,252,1) 100%);
	background: linear-gradient(to top right, rgba(69,72,77,1) 0%, rgba(168,81,255,1) 0%, rgba(83,27,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#531bfc',GradientType=1 );
}

.header-area a{
	color: #fff;
}

.logo {
	position: relative;
	z-index: 1;
	width: 65px;
	height: 65px;
	text-align: center;
	line-height: 65px;
}
.logo:after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	border-radius: 50%;
	top: 0;
	left: 0;
	border: 3px solid #2DB7FB;
}
.logo-content {
	font-size: 40px;
}

.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-menu ul li {
	display: inline-block;
}
.main-menu ul li a {
	display: block;
	padding: 15px;
	font-weight: 600;
	margin-left: 15px;
	color: #D7BAF8;
}
.buy-now {
	position: relative;
	z-index: 1;
	width: 130px;
	height: 20px;
	display: inline-block;
	margin-top: 15px;
	font-weight: 600;
}

.buy-now:before {
	position: absolute;
	content: "";
	width: 57px;
	height: 3px;
	top: 10px;
	left: -29px;
	background-color: #2DB7FB;
}

/*Welcome Area*/
.welcome-area {
	position: relative;
	padding: 30px 0;
	color: #fff;
	z-index: 1;
	margin-top: 30px;
}

.welcome-text h1 {
	font-size: 50px;
	font-weight: 700;
	line-height: 1.5;
}

.welcome-text p {
	color: #D7BAF8;
}
.welcome-text p span{
	text-decoration: underline;
}
.welcom-area-right {
	position: absolute;
	right: 0;
	top: 20%;
	width: 400px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	border-left: 1px solid #D7BAF8;
	border-top: 1px solid #D7BAF8;
	border-bottom: 1px solid #D7BAF8;
	border-radius: 51px 0 0 51px;
}
.box-content a {
	color: #D7BAF8;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}

/*Service Area*/
.service-box {
	line-height: 1.7;
}
.service-icon {
	display: inline-block;
	padding-bottom: 20px;
	font-size: 30px;
}
.service-box h4 {
	font-size: 15px;
	font-weight: 600;
	color: #fff;
}
.service-box p {
	color: #D7BAF8;
	font-size: 14px
}