@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800');
a:focus, input:focus, textarea:focus, button:focus {
	outline: 0 solid;
	outline-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:hover { text-decoration: none }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.section-padding{
    padding: 80px 0;
}


        /*Filter Start*/

ul.protfolio-filter {
	margin: 0 0 50px;
	padding: 0;
	list-style: none;
}
ul.protfolio-filter li {
	display: inline-block;
	padding-right: 25px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 600;
}
ul.protfolio-filter li:after {
	content: "/";
	padding-left: 25px;
	color: #333;
}
ul.protfolio-filter li:last-child:after {
	display: none;
}
ul.protfolio-filter li.active {
	color: #bd4d11;
}

        /*Filter end*/

.protfolio-bg-1 {background-image: url(../img/bg-1.jpg);}
.protfolio-bg-2 {background-image: url(../img/bg-2.jpg);}
.protfolio-bg-3 {background-image: url(../img/bg-3.jpg);}
.protfolio-bg-4 {background-image: url(../img/bg-4.jpg);}
.protfolio-bg-5 {background-image: url(../img/bg-5.jpg);}
.protfolio-bg-6 {background-image: url(../img/bg-6.jpg);}

.protfolio-list {
  	overflow: hidden;
}

.single-protfolio-item {
	float: left;
	width: 33.33333333%;
	height: 300px;
	background-size: cover;
	background-position: center center;
	background-color: #000;
	position: relative;
	z-index: 2;
}

.single-protfolio-item.large-bg {
  	height: 700px;
}

.protfolio-hover {
	position: absolute;
	padding: 20px;
	font-size: 16px;
	text-align: center;
	color: #eee;
	left: 0;
	bottom: -75px;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s all;
}

.protfolio-hover h4 {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 15px;
}

.single-protfolio-item:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(69,72,77);
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(168,168,168,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(168,168,168,1) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(168,168,168,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
	content: "";
	z-index: -1;
	opacity: 0.1;
	transition: 0.3s;
}
.single-protfolio-item:hover:after {
	opacity: 0.9;
}
.single-protfolio-item:hover .protfolio-hover {
	bottom: 0;
	opacity: 1;
	visibility: visible;
}