@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800');
a:focus, input:focus, textarea:focus, button:focus {
	outline: 0 solid;
	outline-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:hover { text-decoration: none }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.section-padding{
    padding: 80px 0;
}

.single-pricing-item {
	box-shadow: 0 0 10px #ddd;
	padding: 30px;
	text-align: center;
	border-top: 3px solid #2AC694;
	transition: 0.4s;
}
.single-pricing-item:hover {
  transform: scale(1.03);
}

.single-pricing-item h3 {
	font-weight: 700;
}

.pricing-price {
	background-color: #2AC694;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	margin: 30px auto;
	color: #fff;
	position: relative;
	z-index: 2;
}
.pricing-price-text {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 0;
	padding-top: 20px;
}
.pricing-price:after {
	position: absolute;
	content: "";
	top: -6%;
	left: -6%;
	width: 112%;
	height: 112%;
	border: 2px solid #2AC694;
	border-radius: 50%;
	z-index: -1;
}
.pricing-content {
    font-size: 16px;
    font-weight: 600;
}
.bordered-btn, .boxed-btn {
    border: 2px solid #2AC694;
    padding: 10px 35px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #2AC694;
}
.bordered-btn:hover {
    background-color: #2AC694;
    color: #fff;
}

    /*Theme 2*/

.theme2 {
	border-color: #FE5D3D;
}
.theme2 .pricing-price{
	background-color: #FE5D3D;
}
.theme2 .pricing-price:after {
    border-color: #FE5D3D;
}
.boxed-btn {
	border-color: #FE5D3D;
	background-color: #FE5D3D;
	color: #fff;
}
.boxed-btn:hover {
	color: #fff;
}

    /*Theme 3*/

.theme3 {
	border-color: #B378F6;
}
.theme3 .pricing-price{
	background-color: #B378F6;
}
.theme3 .pricing-price:after {
    border-color: #B378F6;
}
.theme3 .bordered-btn {
	border-color: #B378F6;
	color: #B378F6;
}
.theme3 .bordered-btn:hover{
	background-color: #B378F6;
    color: #fff;
} 
