@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800');
a:focus, input:focus, textarea:focus, button:focus {
	outline: 0 solid;
	outline-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:hover { text-decoration: none }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
html, body {
    height: 100%;
}
body {
	position: relative;
    font-family: 'Open Sans', sans-serif;
}
.section-padding{
    padding: 80px 0;
}

.another-section {
	position: relative;
	height: 400px;
}

.ps--theme_green.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
    background-color: #62118c;
}

.ps--theme_green.ps > .ps__scrollbar-y-rail > .ps__scrollbar-x {
    background-color: #62118c;
}

.ps--theme_green.ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
	background-color:#16A15C;
}
.ps--theme_green.ps:hover > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
	background-color:#16A15C;
}

        /*Filter Start*/

ul.protfolio-filter {
	margin: 0 0 50px;
	padding: 0;
	list-style: none;
}
ul.protfolio-filter li {
	display: inline-block;
	padding-right: 25px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 600;
}
ul.protfolio-filter li:after {
	content: "/";
	padding-left: 25px;
	color: #333;
}
ul.protfolio-filter li:last-child:after {
	display: none;
}
ul.protfolio-filter li.active {
	color: #bd4d11;
}

        /*Filter end*/

.protfolio-bg-1 {background-image: url(../img/bg1.jpg);}
.protfolio-bg-2 {background-image: url(../img/bg2.jpg);}
.protfolio-bg-3 {background-image: url(../img/bg3.jpg);}
.protfolio-bg-4 {background-image: url(../img/bg4.jpg);}
.protfolio-bg-5 {background-image: url(../img/bg5.jpg);}
.protfolio-bg-6 {background-image: url(../img/bg6.jpg);}

.protfolio-list {
  	overflow: hidden;
}

.single-protfolio-item {
	float: left;
	width: 33.33333333%;
	height: 300px;
	background-size: cover;
	background-position: center center;
	background-color: #000;
	position: relative;
	z-index: 2;
}

.single-protfolio-item.large-bg {
  	height: 700px;
}

.protfolio-hover {
	position: absolute;
	padding: 20px;
	font-size: 16px;
	text-align: center;
	color: #eee;
	left: 0;
	bottom: -75px;
	width: 100%;
	opacity: 0.1;
	visibility: hidden;
	transition: 0.3s all;
}

.protfolio-hover h4 {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 15px;
}

.single-protfolio-item:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,175,75,0.97);
	background: -moz-linear-gradient(top, rgba(255,175,75,0.97) 0%, rgba(59,49,37,0.94) 57%, rgba(59,49,37,0.92) 100%);
	background: -webkit-linear-gradient(top, rgba(255,175,75,0.97) 0%, rgba(59,49,37,0.94) 57%, rgba(59,49,37,0.92) 100%);
	background: -o-linear-gradient(top, rgba(255,175,75,0.97) 0%, rgba(59,49,37,0.94) 57%, rgba(59,49,37,0.92) 100%);
	background: -ms-linear-gradient(top, rgba(255,175,75,0.97) 0%, rgba(59,49,37,0.94) 57%, rgba(59,49,37,0.92) 100%);
	background: linear-gradient(to bottom, rgba(255,175,75,0.97) 0%, rgba(59,49,37,0.94) 57%, rgba(59,49,37,0.92) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#3b3125', GradientType=1 );
	content: "";
	z-index: -1;
	opacity: 0;
	transition: 0.3s;
}
.single-protfolio-item:hover:after {
	opacity: 0.9;
}
.single-protfolio-item:hover .protfolio-hover {
	bottom: 0;
	opacity: 1;
	visibility: visible;
}